@font-face {
    font-family: 'Myriadpro';
    src: url('../fonts/myriadpro-semiboldit-webfont.eot');
    src: url('../fonts/myriadpro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-semiboldit-webfont.woff2') format('woff2'),
         url('../fonts/myriadpro-semiboldit-webfont.woff') format('woff'),
         url('../fonts/myriadpro-semiboldit-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-semiboldit-webfont.svg#myriadpro-semiboldit') format('svg');
    font-weight: bold;
    font-style: normal;
}